High Value Customers Identification

# Project Solution Planning

## Inputs

1. Problema de Negócio
    - Taxa de churn aumentou nos últimos meses
    - Rankear os clientes com maiores probabilidades de entrar em churn

2. Conjunto de dados
    - Atributos que descrevem os clientes de um determinado banco: ChrunDataset Kaggle

## Output

1. Indicação das pessoas que irão entrar em churn
    - Coluna em tabela com rankeado das pessoas com propensão de entrar em churn
    - Modelo em produção
    
2. Relatório com performance do modelo e respostas das perguntas:
     - Qual a taxa atual de Churn da TopBank? Como ela varia mensalmente?
     - Qual a Performance do modelo em classificar os clientes como churns?
     - Qual o retorno esperado, em termos de faturamento, se a empresa utilizar seu modelo para evitar o churn dos clientes?
     - Para quais clientes você daria o incentivo financeiro e qual seria esse valor, de modo a maximizar o ROI (Retorno sobre o investimento). Lembrando que a soma dos incentivos não pode ultrapassar os  R$10.000,00

## Tasks

1. Qual a taxa atual de Churn da TopBank? Como ela varia mensalmente?
    - Calcular taxa atual, somatório da coluna target divido pelo número total de clientes da base
    
2. Qual a Performance do modelo em classificar os clientes como churns?
    - Calculo da performance do modelo
    - Verificar métricas de performance learning to rank
    
3. Qual o retorno esperado, em termos de faturamento, se a empresa utilizar seu modelo para evitar o churn dos clientes?
    - Curva lift para comparação do modelo com o status quo da empresa e apresentação do resultado
    - Calcular diferença em reais do modelo
    - Calcular ROI
    - Comparativo entre ROIs

4. Para quais clientes você daria o incentivo financeiro e qual seria esse valor, de modo a maximizar o ROI (Retorno sobre o investimento). Lembrando que a soma dos incentivos não pode ultrapassar os  R$10.000,00
    - Classificar quais clientes trarão mais retorno para empresa com o incentivo.

# Imports

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import inflection


from IPython.core.display    import HTML
from IPython.display         import Image

In [8]:
os.getcwd()

'/home/marxcerqueira/repos/Data-Science-Projects/Kaggle-Client-Churn-Prediction/notebooks'

## Helper Functions

In [4]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
    
# def cramer_v( x, y ):
#     cm = pd.crosstab( x, y ).values # Confusion Matrix
#     n = cm.sum()
#     r, k = cm.shape
    
#     chi2 = ss.chi2_contingency( cm )[0]
#     chi2corr = max( 0, chi2 - (k-1)*(r-1)/(n-1) )
    
#     kcorr = k - (k-1)**2/(n-1)
#     rcorr = r - (r-1)**2/(n-1)
    
#     return np.sqrt( (chi2corr/n) / ( min( kcorr-1, rcorr-1 ) ) )

# def mean_absolute_percentage_error( y, yhat ):
#     return np.mean( np.abs( ( y-yhat ) / y ))

# def mean_percentage_error( y, yhat ):
#     return np.mean( ( y - yhat ) / y )

# def ml_error ( model_name, y, yhat):
#     mae = mean_absolute_error( y,yhat )
#     mape = mean_absolute_percentage_error( y,yhat )
#     rmse = np.sqrt(mean_squared_error( y,yhat ))
    
#     return pd.DataFrame( {'Model Name': model_name,
#                           'MAE': mae,
#                           'MAPE': mape,
#                           'RMSE': rmse}, index=[0])

# def cross_validation( x_training, kfold, model_name, model, verbose=False ):
#     mae_list = []
#     mape_list = []
#     rmse_list = []
    
#     for k in reversed( range( 1, kfold+1 ) ):
#         if verbose:
#             print( '\nKFold Number: {}'.format( k ) )
#         # start and end date for validation 
#         start_date_validation = x_training['date'].max() - datetime.timedelta( days=k*6*7)
#         end_date_validation = x_training['date'].max() - datetime.timedelta( days=(k-1)*6*7)

#         # filtering dataset
#         training = x_training[x_training['date'] < start_date_validation]
#         validation = x_training[(x_training['date'] >= start_date_validation) & (x_training['date'] <= end_date_validation)]

#         # training and validation dataset
#         # training
#         xtraining = training.drop( ['date', 'sales'], axis=1 ) 
#         ytraining = training['sales']

#         # validation
#         xvalidation = validation.drop( ['date', 'sales'], axis=1 )
#         yvalidation = validation['sales']

#         # model
#         m = model.fit( xtraining, ytraining )

#         # prediction
#         yhat = m.predict( xvalidation )

#         # performance
#         m_result = ml_error( model_name, np.expm1( yvalidation ), np.expm1( yhat ) )

#         # store performance of each kfold iteration
#         mae_list.append(  m_result['MAE'] )
#         mape_list.append( m_result['MAPE'] )
#         rmse_list.append( m_result['RMSE'] )

#     return pd.DataFrame( {'Model Name': model_name,
#                           'MAE CV': np.round( np.mean( mae_list ), 2 ).astype( str ) + ' +/- ' + np.round( np.std( mae_list ), 2 ).astype( str ),
#                           'MAPE CV': np.round( np.mean( mape_list ), 2 ).astype( str ) + ' +/- ' + np.round( np.std( mape_list ), 2 ).astype( str ),
#                           'RMSE CV': np.round( np.mean( rmse_list ), 2 ).astype( str ) + ' +/- ' + np.round( np.std( rmse_list ), 2 ).astype( str ) }, index=[0] )

In [5]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## Load Dataset

In [9]:
df_churn_raw = pd.read_csv('/home/marxcerqueira/repos/Data-Science-Projects/Kaggle-Client-Churn-Prediction/data/raw/churn.csv', low_memory = False)

In [10]:
df_churn_raw.head()

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619    France  Female   42       2       0.00              1          1               1        101348.88       1
1          2    15647311      Hill          608     Spain  Female   41       1   83807.86              1          0               1        112542.58       0
2          3    15619304      Onio          502    France  Female   42       8  159660.80              3          1               0        113931.57       1
3          4    15701354      Boni          699    France  Female   39       1       0.00              2          0               0         93826.63       0
4          5    15737888  Mitchell          850     Spain  Female   43       2  125510.82              1          1               1         79084.10       0

- RowNumber: O número da coluna
- CustomerID: Identificador único do cliente
- Surname: Sobrenome do cliente.
- CreditScore: A pontuação de Crédito do cliente para o mercado de consumo.
- Geography: O país onde o cliente reside.
- Gender: O gênero do cliente.
- Age: A idade do cliente.
- Tenure: Número de anos que o cliente permaneceu ativo.
- Balance: Valor monetário que o cliente tem em sua conta bancária.
- NumOfProducts: O número de produtos comprado pelo cliente no banco.
- HasCrCard: Indica se o cliente possui ou não cartão de crédito.
- IsActiveMember: Indica se o cliente fez pelo menos uma movimentação na conta bancário dentro de 12 meses.
- EstimateSalary: Estimativa do salário mensal do cliente.
- Exited: Indica se o cliente está ou não em Churn.

# DATA DISCRIPTION

In [12]:
# copy dataset
df0 = df_churn_raw.copy()

## Rename Columns

In [20]:
cols_old = list(df0)
snakecase = lambda x: inflection.underscore(x)
col_news = list(map(snakecase, cols_old))

# Rename columns
df0.columns = col_news
list(df0)

['row_number',
 'customer_id',
 'surname',
 'credit_score',
 'geography',
 'gender',
 'age',
 'tenure',
 'balance',
 'num_of_products',
 'has_cr_card',
 'is_active_member',
 'estimated_salary',
 'exited']

Feature description:
- RowNumber: O número da coluna
- CustomerID: Identificador único do cliente
- Surname: Sobrenome do cliente.
- CreditScore: A pontuação de Crédito do cliente para o mercado de consumo.
- Geography: O país onde o cliente reside.
- Gender: O gênero do cliente.
- Age: A idade do cliente.
- Tenure: Número de anos que o cliente permaneceu ativo.
- Balance: Valor monetário que o cliente tem em sua conta bancária.
- NumOfProducts: O número de produtos comprado pelo cliente no banco.
- HasCrCard: Indica se o cliente possui ou não cartão de crédito.
- IsActiveMember: Indica se o cliente fez pelo menos uma movimentação na conta bancário dentro de 12 meses.
- EstimateSalary: Estimativa do salário mensal do cliente.
- Exited: Indica se o cliente está ou não em Churn.

In [22]:
df0.head(30)

    row_number  customer_id     surname  credit_score geography  gender  age  tenure    balance  num_of_products  has_cr_card  is_active_member  estimated_salary  exited
0            1     15634602    Hargrave           619    France  Female   42       2       0.00                1            1                 1         101348.88       1
1            2     15647311        Hill           608     Spain  Female   41       1   83807.86                1            0                 1         112542.58       0
2            3     15619304        Onio           502    France  Female   42       8  159660.80                3            1                 0         113931.57       1
3            4     15701354        Boni           699    France  Female   39       1       0.00                2            0                 0          93826.63       0
4            5     15737888    Mitchell           850     Spain  Female   43       2  125510.82                1            1                 1          79084.10       0
5            6     15574012         Chu           645     Spain    Male   44       8  113755.78                2            1                 0         149756.71       1
6            7     15592531    Bartlett           822    France    Male   50       7       0.00                2            1                 1          10062.80       0
7            8     15656148      Obinna           376   Germany  Female   29       4  115046.74                4            1                 0         119346.88       1
8            9     15792365          He           501    France    Male   44       4  142051.07                2            0                 1          74940.50       0
9           10     15592389          H?           684    France    Male   27       2  134603.88                1            1                 1          71725.73       0
10          11     15767821      Bearce           528    France    Male   31       6  102016.72                2            0                 0          80181.12       0
11          12     15737173     Andrews           497     Spain    Male   24       3       0.00                2            1                 0          76390.01       0
12          13     15632264         Kay           476    France  Female   34      10       0.00                2            1                 0          26260.98       0
13          14     15691483        Chin           549    France  Female   25       5       0.00                2            0                 0         190857.79       0
14          15     15600882       Scott           635     Spain  Female   35       7       0.00                2            1                 1          65951.65       0
15          16     15643966     Goforth           616   Germany    Male   45       3  143129.41                2            0                 1          64327.26       0
16          17     15737452       Romeo           653   Germany    Male   58       1  132602.88                1            1                 0           5097.67       1
17          18     15788218   Henderson           549     Spain  Female   24       9       0.00                2            1                 1          14406.41       0
18          19     15661507     Muldrow           587     Spain    Male   45       6       0.00                1            0                 0         158684.81       0
19          20     15568982         Hao           726    France  Female   24       6       0.00                2            1                 1          54724.03       0
20          21     15577657    McDonald           732    France    Male   41       8       0.00                2            1                 1         170886.17       0
21          22     15597945    Dellucci           636     Spain  Female   32       8       0.00                2            1                 0         138555.46       0
22          23     15699309   Gerasimov           510     Spain  Female   38       4       0.00                1            1                 0         118913.53       1
23          24     15725737      Mosman           669    France    Male   46       3       0.00                2            0                 1           8487.75       0
24          25     15625047         Yen           846    France  Female   38       5       0.00                1            1                 1         187616.16       0
25          26     15738191     Maclean           577    France    Male   25       3       0.00                2            0                 1         124508.29       0
26          27     15736816       Young           756   Germany    Male   36       2  136815.64                1            1                 1         170041.95       0
27          28     15700772     Nebechi           571    France    Male   44       9       0.00                2            0                 0          38433.35       0
28          29     15728693  McWilliams           574   Germany  Female   43       3  141349.43                1            1                 1         100187.43       0
29          30     15656300    Lucciano           411    France    Male   29       0   59697.17                2            1                 1          53483.21       0

## Data Dimension

In [24]:
df0.shape

(10000, 14)

In [25]:
print('Number of rows: {}'.format(df0.shape[0]))
print('Number of columns: {}'.format(df0.shape[1]))

Number of rows: 10000
Number of columns: 14

## Data Types

In [26]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_number        10000 non-null  int64
 1   customer_id       10000 non-null  int64
 2   surname           10000 non-null  object
 3   credit_score      10000 non-null  int64
 4   geography         10000 non-null  object
 5   gender            10000 non-null  object
 6   age               10000 non-null  int64
 7   tenure            10000 non-null  int64
 8   balance           10000 non-null  float64
 9   num_of_products   10000 non-null  int64
 10  has_cr_card       10000 non-null  int64
 11  is_active_member  10000 non-null  int64
 12  estimated_salary  10000 non-null  float64
 13  exited            10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

## Check NA Values

In [27]:
missing_count = df0.isnull().sum()
value_count = df0.isnull().count()

missing_percentage = round(missing_count/value_count*100, 2)
missing_df = pd.DataFrame({'missing value count': missing_count, 'percentage (%)': missing_percentage })
missing_df

                  missing value count  percentage (%)
row_number                          0             0.0
customer_id                         0             0.0
surname                             0             0.0
credit_score                        0             0.0
geography                           0             0.0
gender                              0             0.0
age                                 0             0.0
tenure                              0             0.0
balance                             0             0.0
num_of_products                     0             0.0
has_cr_card                         0             0.0
is_active_member                    0             0.0
estimated_salary                    0             0.0
exited                              0             0.0

## Descriptive Statistics

In [31]:
df0.describe()

        row_number   customer_id  credit_score           age        tenure        balance  num_of_products  has_cr_card  is_active_member  estimated_salary        exited
count  10000.00000  1.000000e+04  10000.000000  10000.000000  10000.000000   10000.000000     10000.000000  10000.00000      10000.000000      10000.000000  10000.000000
mean    5000.50000  1.569094e+07    650.528800     38.921800      5.012800   76485.889288         1.530200      0.70550          0.515100     100090.239881      0.203700
std     2886.89568  7.193619e+04     96.653299     10.487806      2.892174   62397.405202         0.581654      0.45584          0.499797      57510.492818      0.402769
min        1.00000  1.556570e+07    350.000000     18.000000      0.000000       0.000000         1.000000      0.00000          0.000000         11.580000      0.000000
25%     2500.75000  1.562853e+07    584.000000     32.000000      3.000000       0.000000         1.000000      0.00000          0.000000      51002.110000      0.000000
50%     5000.50000  1.569074e+07    652.000000     37.000000      5.000000   97198.540000         1.000000      1.00000          1.000000     100193.915000      0.000000
75%     7500.25000  1.575323e+07    718.000000     44.000000      7.000000  127644.240000         2.000000      1.00000          1.000000     149388.247500      0.000000
max    10000.00000  1.581569e+07    850.000000     92.000000     10.000000  250898.090000         4.000000      1.00000          1.000000     199992.480000      1.000000

# FEATURE ENGINEERING

## Hypothesis Mindmap

## Creating Hypothesis

## Final Hypothesis List

## Feature Engineering

# VARIABLE FILTERING

## Line Filtering

## Columns Selection

# EXPLORATORY DATA ANALYSIS (EDA)

## Univariate Analysis

### Response Variable

### Numerical Variable

### Categorical Variable

## Bivariate Analysis

## Multivariate Analysis

# DATA PREPARATION

## Feature Normalization

## Feature Rescaling

## Feature Transformation

### Enconding

### Target Variable Transformation

### Nature Transformation

# FEATURE SELECTION

## Spliting dataframe into training and test dataset

## Feature Selector (boruta?)

## Best Features

# MACHINE LEARNING ALGORITHM MODELS

## Modelo 1

## Modelo 2

## Modelo 3

## Compare Model's Performance

# HYPERPARAMETERS FINE TUNING

# ERROR INTERPRETATION

# MODEL DEPLOYMENT